* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background-image: url('../resources/02.jpg');
    background-size: cover;
    text-shadow: #000 2px 2px 3px;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
}

#top-bar {
    display: flex;
    width: 90%;
    margin: 40px auto 0;
    height: 44px;
    justify-content: space-between;

}

#settings {
    display: flex;
}

.refresh-back {
    width: 44px;
    height: 44px;
    background-color: rgba(107, 107, 107, 0.5);
    border-radius: 10px;
    margin-right: 10px;
}

.refresh-back img {
    width: 80%;
    height: 80%;
    opacity: 100%;
}

#language-choice{
    background-color: rgba(107, 107, 107, 0.5);
    width: 71px;
    height: 44px;
    border-radius: 10px;
    margin-right: 10px;
}

#temperature-choice {
    background-color: rgba(107, 107, 107, 0.5);
    width: 88px;
    height: 44px;
    border-radius: 10px;
    display: flex;
}

#temperature-choice div {
    width:44px;
    height: 44px;
    border-radius: 10px;
}

.temperature-active {
    background-color: rgba(107, 107, 107, 0.8);
}

@import url(search.css);

#main {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 57px;
}

#weather-header {
    color: white;
}

#today-weather-forecast {
    display: flex;
}

#weather {
    color: white;
}

.today-temperature {
    position: relative;
    font-size: 306px;
    line-height: 373px;
}

.degree-symbol {
    font-size: 100px;
    line-height: 373px;
    position:absolute;
    top: -65px;
    right: -40px;
}

#weather-info {
    font-size: 20px;
    padding-top: 100px;
    margin-left: 50px;
}

.week-day {
    margin: 0;
    font-size: 22px;
}

#future-forecasts {
    margin: 0;
    display: flex;
}

.small-forecast {
    margin: 0;
    width: 160px;
}

.future-temperature {
    margin: 0;
    font-size: 80px;
    line-height: 1;
}

.location-container {
    width: 375px;
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.coordinates {
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}